body{
    background-color: darkslateblue;
    color: white;
}

h1{
    color: whitesmoke;
    font-size: 80 px;
    font-family: "Helvetica", sans-serif; 
}
.centerTable { margin: 0px auto; }